/* Especificidad 001 color negro*/
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*especificidad 010 color negro por defecto*/
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Especificidad 001*/
canvas {
    border: 1px solid #ccc;
    margin-top: 20px;
}
