/*datos personales LUCIA VILLANUEVA RODRIGUEZ uo283535*/
/*
COLORES UTILIZADOS
Rose Quartz #FFDBE2
Scallop Seashell #F7D6D0
Hot Pink #FB6090
Rose Red #821D30
Black #000
*/
/*Especificidad 001*/
body{font-family:Tahoma,Verdana, sans-serif;}

/*Especificidad 001*/
h1{
    font-size: 3em;
    color:#821D30;
    background-color:#FFDBE2;
    font-family: serif;
}
/*Especificidad 001*/
h2{
    background-color: #652020;
    color: #FFDBE2;
    text-align: center;
    font-size: 2em;

}
/*Especificidad 001 */
h3{
    color:#821D30;
    font-weight: bold;
    font-style: italic;
    font-weight: bold;
    background-color: #F7D5CF;
    
}
/*Especificidad 001 */
a{
    font-weight: bolder;
    color: #FB6090;
    /* background-color hereda de body */
}
/*Especificidad 011 */
a:visited{
    color: #821D30;
     /* background-color hereda de body */
}
/*Especificidad 001*/
nav a:hover{
    color: #F7D6D0;
     /* background-color hereda de body */
}
/*Especificidad 001*/
p{
    text-align: justify;
    /* background-color y color hereda de body */
}

/*Especificidad 012*/
ul>li:nth-child(3){
    color:#821D30;
     /* background-color hereda de body */
}
/*Especificidad 001, 001*/
dt,li{
    font-weight: bolder;
}
/*Especificidad 001*/
dt{
    color:#821D30;
}
/*Especificidad 004*/
ul>li>ol>li{
    font-weight: normal;
}
/*Especificidad 002*/
li::marker{color:#652020;}
th{
    color:#821D30;
    /*background-color hereda de body*/
}
/*Especificidad 001*/
video{
    max-width: 100%;
    height:100%;
}

/*Especificidad 001*/
image{
   max-width: 100%;
   height:100%;
}

